@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


body {
    background-color: gray;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.tombol {
    width: 400px;
    height: 50 px;
    border: solid 13px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    display: block;
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.tombol:hover {
    background-color: white;
}

.header {
    display: block;
    text-align: center;
    font-size: 35px;
}

.header p {
    font-size: 15px;
}

.header img {
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

.footer {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
